<!-- <h1> Edit Your Account Info! </h1>

<%= form_for @user, html: {method: :put} do |f| %>
<%= f.label :username %>
<%= f.text_field :username %>
<br>
<br>
<%= f.label :password %>
<%= f.password_field :password %>
<br>
<br>
<%= f.label :email %>
<%= f.text_field :email %>
<br>
<%= f.submit :update %>
<% end %> -->