<h1> User Profile Page </h1>

<%= @user.username %>
<%= tag :br %>
<%= @user.email %> 
<%= tag :br %>
<%= @user.zipcode %>
<%= tag :br %>
<%= @user.profile.fname %>
<%= tag :br %>
<%= @user.profile.lname %>
<%= tag :br %>
<%= @user.profile.favbird %>
<%= tag :br %>
<%= @user.profile.bio %>
<%= tag :br %>
<%= tag :br %>


<%= link_to("Sign Out", '/logout', method: :delete) %>

<% @posts.each do |post| %>
	Title: <%= link_to post.title, post_path(post.id) %>
	<%= tag :br %>
	Post: <%= post.body %>
	<%= tag :br %>
	<%= tag :br %>
<% end %>
