<!DOCTYPE html>
<html>
<head>
  <title>RailsBlogProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"> </script>
</head>
<body>
	<header>
		<ul id="drop-nav">
		  <li><a href="#">Home</a></li>
		  <li><a href="#">User Options</a>
			<ul>
		      <li><a href="#">HTML</a></li>
		      <li><a href="#">CSS</a></li>
		      <li><a href="#">JavaScript</a></li>
		    </ul>
		  </li>
		  <li><a href="#">Posts</a>
		    <ul>
		      <li><a href="#">Joomla</a></li>
		      <li><a href="#">Drupal</a></li>
		      <li><a href="#">WordPress</a></li>
		      <li><a href="#">Concrete 5</a></li>
		    </ul>
		  </li>
		  <li><a href="#">Profile</a>
		    <ul>
		      <li><a href="#">General Inquiries</a></li>
		      <li><a href="#">Ask me a Question</a></li>
		    </ul>
		  </li>
		</ul>
		<%= image_tag("logo_burned.png", class: "header_logo") %>
		<%= image_tag("birderz.png", class: "header_name") %>
	</header>

	<%= flash[:notice] if flash[:notice] %> 
	<%= flash[:alert] if flash[:alert] %>

<%= yield %>

</body>
</html>
