<!DOCTYPE html>
<html>
<head>
  <title>RailsBlogProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"> </script>
</head>
<body>
	<%= flash[:notice] if flash[:notice] %> 
	<%= flash[:alert] if flash[:alert] %>

<%= yield %>

</body>
</html>
